@model DocManagement.ViewModels.ActivityViewModel

@{
    ViewBag.Title = "Index";
}

<div style="padding: 15px">
    <div class="row">
        <div class="col">

            <div class="card border-primary mb-3" style="max-width: 50rem;">
                <div class="card-header">Upload history:</div>
                <div class="card-body">

                    <table class="table">
                        <tr>
                            <th>
                               Description
                            </th>
                          
                            <th>
                                File
                            </th>
                            <th></th>
                        </tr>

                        @foreach (var item in Model.Uploads)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Description)
                                </td>
                                
                                <td>
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                <td>
                                    @Html.ActionLink("Document details",  "Details", "Documents", new { id = item.Id }, null)
                                </td>
                            </tr>
                        }
                    </table>

                </div>
            </div>

        </div>

        <div class="col">

            <div class="card border-info mb-3" style="max-width: 50rem;">
                <div class="card-header">Download history:</div>
                <div class="card-body">

                    <table class="table">
                        <tr>
                            <th>
                                Description
                            </th>
                           
                            <th>
                                File
                            </th>
                            <th></th>
                        </tr>

                        @foreach (var item in Model.Downloads)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Description)
                                </td>
                            
                                <td>
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                <td>
                                    @Html.ActionLink("Document details", "Details", "Documents", new { id = item.Id }, null)
                                </td>
                            </tr>
                        }
                    </table>

                </div>
            </div>

        </div>
    </div>
</div>