@model DocManagement.ViewModels.DetailsDocumentViewModel
@{
    ViewBag.Title = "Delete";
}


<div class="card border-primary margin-top-light mb-3 mx-auto" style="max-width: 40rem;">
    <div class="card-body">
        <h3 class="card-title">Are you sure you want to delete this?</h3>


        <div>
            <h4>Document</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    Uploaded by
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.UploadBy)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Description)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Description)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.UploadDate)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.UploadDate)
                </dd>

                <dt>
                    File
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Name)
                </dd>

                <dt>
                    Downloads
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Downloads)
                </dd>

            </dl>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="text-center">
                    <input type="submit" value="Delete" class="btn btn-default" /> |
                    @Html.ActionLink("Back to List", "Index")
                </div>
            }
        </div>

    </div>
</div>
