@model DocManagement.Models.Document

@{
    ViewBag.Title = "Edit";
}

<div class="card border-primary margin-top-light mb-3 mx-auto" style="max-width: 40rem;">
    <div class="card-body">
        <h4 class="card-title">Edit docuemnt</h4>


        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

        <div class="form-horizontal">

            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.Id)

            <div class="form-group">
                @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.UploadDate, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.UploadDate, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                    @Html.ValidationMessageFor(model => model.UploadDate, "", new { @class = "text-danger" })
                </div>
            </div>

            @Html.HiddenFor(model => model.File, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
            @Html.HiddenFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
            @Html.HiddenFor(model => model.ContentType, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
            @Html.HiddenFor(model => model.ApplicationUserId, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })

            <hr />
            <div class="form-group">
                <div class="text-center">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
            </div>
        </div>
        }

        <div >
            @Html.ActionLink("Back to List", "Index")
        </div>
    </div>
</div>



        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
        }
